* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

h1, h2, h3 {
    font-family: "Quicksand", sans-serif;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.8rem;
}
h3{
    font-size: 2.4rem;
}
p, .enlaces{
    font-family: "Dosis", sans-serif;
    font-size: 2.2rem;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "logo enlaces"
                        "texto texto";
}

.banner {
    background-image: url(./../img/loto-banner.jpg);
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navegacion {
    display:f flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo {
    width: 5vw;
}

.texto {
    font-size: 3.2rem;
    font-family: "Quicksand", sans-serif;;
    grid-area: texto;
}

.seccion {
    width: 50vw;
}

.hidden {
    display: none;
}